main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  margin: 0;
  padding-top: 20px;
  box-sizing: border-box; 
}

#blub {
  width: 60vw;
  position: absolute;
  top: 50%;
  left: 50%;
  display: inline-block;
  height: auto;
  transform: translate(-50%, -50%); 
  margin-top: 20px;
}

#counts {
  font-size: 10vw;
  color: #1C1C1C;
}

header {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #464451;
  text-align: center;
  box-shadow: 0 0 50px 20px #293133;
}

body {
  margin: 0;
  padding: 0;
}

footer {
  
  background-color: #464451;
}



#on {
  width: 10px;
  height: 10px;
  }
#pon {
  width: 10px;
  height: 10px;
}

