main {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      height: 100vh;
      margin: 0;
      padding-top: 20px;
      box-sizing: border-box; 
    }
#blub{
      max-width: 100%;
      height: auto;
      margin-top: 20px; 
}

#counts {
  font-size: 100px;
  color: #1C1C1C;
}
header {
      width: 10vw;
      font-family: Arial, sans-serif;
      color: white;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px;
      background-color: #464451;
      text-align: center;
      box-shadow: 0 0 50px 20px #293133;
}
body {
  margin: 0;
  padding: 0;
  
}
footer {
  text-align: center;
  display: flex;
  justify-content: space-between; /* Равномерное распределение по ширине */
  align-items: center;
  height: 130px;
  background-color: #464451;
  padding: 0 20px; /* Добавляем небольшой отступ справа и слева */
}

#content {
  display: flex;
  flex: 1; /* Равномерное распределение изображений по ширине */
  justify-content: space-between; /* Изображения выравниваются влево и вправо */
  align-items: center;
}


@media screen and (max-width: 768px) {
  #on {
  max-width: 25%;
  position: relative; /* или другое позиционирование, например, absolute или fixed */
  right: -100px;
    
  }
  #pon {
  max-width: 35%; 
  height: auto;
  margin: 20px; 
  flex: 1; 
}
}
  
@media screen and (min-width: 1024px) {
  #on {
    max-width: 15%;
    height: auto;
    right: -40%;
    position: relative;
  }
  #pon {
  max-width: 20%; 
  height: auto;
  margin: 20px; 
  flex: 1; 
}
}

